<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>

<style>

body{

    background:#e8f5e9;
    font-family:Arial;
    text-align:center;
    padding-top:120px;

}

.card{

    width:500px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0px 10px 20px rgba(0,0,0,.2);

}

h1{

color:green;

}

</style>

</head>

<body>

<div class="card">

<h1>Welcome {{username}}</h1>

<h2>Login Successful 🎉</h2>

<p>You are successfully logged into the Employee Portal.</p>

</div>

</body>
</html>
